* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

body {
  background-color: #edfdf6;
}

p {
  color: rgb(70, 70, 70);
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  text-align: center;
  color: #009966;
  padding: 20px;
  font-size: 1.2rem;
}

.catch-phrase { 
  padding-bottom: 30px;
}

.producer-welcome-phrase {
  color: #009966;
}

.consumer-welcome-phrase {
  color: #305ee6;
}


.home-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 65vw;
  padding: 30px 60px 45px 60px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: -5px 5px 50px rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
}

.client-buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.producer {
  border: 2px solid #a4f4cf;
  border-radius: 10px;
  padding: 20px;
  /*transition: border 0.2s;*/
}

.consumer {
  border: 2px solid #bedbff;
  border-radius: 10px;
  padding: 20px;
  /*transition: border 0.2s;*/
}

.producer:hover {
  border: 2px solid #17b86d;
  cursor: pointer;
}

.consumer:hover {
  border: 2px solid #4c9dff;
  cursor: pointer;
}

.producer-heading {
  color: #009966;
}

.consumer-heading {
  color: #1c398e;
}

.producer i, .consumer i {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  transition: transform 0.3s, color 0.3s;
}

.producer:hover i, .consumer:hover i {
  transform: scale(1.1);
}

.producer i {
  color: #009966;
}

.consumer i {
  color: #1c398e;
}

.consumer-signup i {
  color: #305ee6;
  font-size: 3rem;
  padding-bottom: 30px;

}

.producer-signup i {
  color: #009966;
  font-size: 3rem;
  padding-bottom: 30px;
}

.logo-div i {
  color: #009966;
  font-size: 1.8rem;
}


.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.producer-heading, p.consumer-heading {
  margin-bottom: 8px;
}

.form {
  margin: 20px;
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

form label {
  text-align: left;
  font-size: 0.9rem;
  color: rgb(30, 30, 30);
}

form input {
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: rgb(235, 235, 235);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.back-button {
  border: 0.5px solid rgb(200, 200, 200);
  background-color: white;
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(30, 30, 30);
  width: 110px;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
} 

.consumer-signup-button {
  border: none;
  background-color: #305ee6;
  color: white;
  font-weight: bold;
  width: 110px;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
}


.producer-signup-button {
  border: none;
  background-color: #009966;
  color: white;
  font-weight: bold;
  width: 110px;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgb(235, 235, 235);
}

.producer-signup-button:hover {
  background-color: #139156;
}

.consumer-signup-button:hover {
  background-color: #264ab7;
}

.navbar {
  background-color: white;
  padding: 25px 70px;
  box-shadow:-2px 2px 5px rgb(200, 200, 200);
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.navbar-logo p.logo {
  padding: 0;
}

.navbar-logo i {
  color: #009966;
  font-size: 1.6rem;
}

.nav-logo {
  text-align: center;
  color: #009966;
  font-size: 1.2rem;
}

.producer-welcome-message, .consumer-welcome-message {
  padding: 40px 70px;
}

.producer-welcome-message h1, .consumer-welcome-message h1 {
  font-weight: 600;
  padding: 0 0 20px 0;
  font-size: 2rem;
}

.producer-listings{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.listing-blocks{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  padding: 20px;

}

